body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", "Areal", sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
.visually-hiden{
    display: none;
}
.active{
    color: aqua;
}
/* button*/
.btn {
    display: block;
    font-family: inherit;
    color: #ffffff;
    text-align: center;
    border: 0;
    outline: 0;
    text-transform: uppercase;
}
.btn:active {
    color: rgba(255,255,255, 0.3);
}
.btn-blue {
    background-color: #81b3d2;
}
.btn-blue:hover,
.btn-blue:focus {
    background-color: #669ec0;
}

.btn-blue:active {
    background-color: #5496bd;
}

.btn-brown {
    background-color: #766357;
}
.btn-brown:hover,
.btn-brown:focus {
    background-color: #604e43;
}

}
.btn-brown:active {
    background-color: #503e33;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-navigation a {
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #e9e9ea;
}
.nav-link-active {
    color: red;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.reason-item-blue {
    color: #ffffff;
    background-color: #81b3d2;
    background-position: 0 0;
    background-repeat: repeat;
}

.reason-item h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.promo-list {
    list-style: none;
}

.promo {
    text-align: center;
    background-color: #ffffff;
}

.promo b {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.reason-item-grey {
    background-color: #eeeeee;
}

.nav-link {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}

.search {
    text-align: center;
    background-color: #ffffff;
}

.search h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.search-form input {
  box-sizing: border-box;
  outline: 0;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.search-form input:hover  {
  border: 2px solid #ebebeb;
    background-color: #ebebeb;
    outline: 0;
    
}

.search-form input:focus  {
    background-color: #ffffff;
    outline: 0;
    border: 2px solid #e5e5e5;
}



}
.page-footer {
    color: #000000;
    background-color: #f8f9f6;
    background-position: 0 0;
    background-repeat: repeat;
    text-decoration: underline;
    outline: none;
    text-decoration: none;
}
.footer-social a:hover,
.footer-social a:focus {
    text-decoration: none;
}
.footer-social {
    text-align: center;
}
.social-btn {
    color: #000000;
    outline: none;
}
.footer-htmlacademy {
    text-align: center;
}
.footer-htmlacademy a:hover,
.footer-htmlacademy a:focus {
    color: #bdd4e3;
    text-decoration: none;
}
.sort-item {
    list-style: none;
}
.sort-item a {
    list-style: none;
    color: #e9e9ea;
    border-bottom: 1px dashed #e9e9ea;
}
.sort-item a:hover,
.sort-item a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}
.sort-item a:active {
    color: #000000;
}
.sort-item a:pressed {
    text-decoration: none;
    color: #81b3d2;
}
.hotels-item h2:hover,
.hotels-item h2:focus {
    color: #81b3d2;
}
.hotels-item h2:active {
    color: #e9e9ea;
}
.sort span {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.filter {
    background-color: #81b3d2;
    color: #ffffff;
    background-image: url("../img/filter-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.filter fieldset{
    border: 0;
}
.filter-btn {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
    outline: none;
}
.filter-btn:hover {
    color: transparent;
    border-color: #ffffff;
    background-color: #ffffff;
    outline: none;
}
.rating-rate {
    text-align: center;
    color: black;
    background-color: #e9e9e9;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    outline: none;
    text-decoration: none;
}